@keyframes scrollHorizontal {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll-horizontal {
    animation: scrollHorizontal 5s linear infinite;
}